.working{
    .background-layer{
        div{
            inset: -230px 0 0 0 !important;
        }
    }
    #working-background {
        background-image: url('../../assets/images/working.png');
    }
    .background {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .carousel-layer{
        div{
            inset: -200px 0 0 0 !important;
            z-index: 1;
        }
        .carousel-div{
            height: 100%;
            // border: 1px solid;
            margin:0 20%;
            display: flex;

            .toggle-nums{
                height: 80%;
                width: 30%;
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                h2{
                    width: 80%;
                    text-align: center;
                    font-weight: 600;
                    margin: 4rem auto;
                    margin-bottom: 3rem;
                }
                .nums{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .num{
                        transition: opacity 1s ease-in-out;
                        opacity: .8;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        height: 4rem;
                        width: 4rem;
                        background-color: white;
                        border-radius: 50%;
                        margin-bottom: 2rem;
                        // margin-left: 22%;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
                        p{
                            margin: 0;
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                        &.active{
                            opacity: 1;
                            height: 5rem;
                            width: 5rem;
                            background-color: #1EAAFC;
                            p{
                                font-size: 2.5rem;
                            }
                        }
                    }
                }
            }
            .card-component{
                height: 80%;
                width: 70%;
                // border: 1px solid;
            }
        }
    }
    .small-size-h1{
        text-align: center;
            font-size: 2.3rem;
            margin-top: 2rem;
    }
}
@media screen and (max-width: 1024px) {
    .toggle-nums {
        margin-left: -4rem;
    }
    .card-component{
        margin-right: 4rem;
    }
}
@media screen and (max-width: 850px) {
    .toggle-nums {
           h2{
            font-size: 1.5rem;
           }
        }
}

@media screen and (max-width: 720px) {
    .working{
        .carousel-layer {
                div {
                    inset: -280px 0 0 0 !important;
                    z-index: 1;
                }
            }        
     
        .carousel-div{
            flex-direction: column;
        }
        .carousel-layer .carousel-div .toggle-nums .nums {
            flex-direction: row;
        }
                .carousel-layer .carousel-div .toggle-nums h2 {
                    margin: 0 ;
                    margin-left: 55% ;
                    margin-right: 30px ;
                }
        .toggle-nums{
            order: 1;
            flex-direction: row !important;
            margin: auto;
            margin-left: 19%;
            .num{
                margin-right: 20px !important;
            }
        }
    }
}
@media screen and (max-width: 376px) {
    .working {
            .carousel-layer {
                div {
                    inset: -250px 0 0 0 !important;
                    z-index: 1;
                }
            }
    }    
    .toggle-nums {
        margin-left: -18% !important;
         h2 {
                margin-left: 0 !important;
            }
            .nums{
                margin-left: 18%;
                align-items: start !important;
            }
        }  
                .small-size-h1 {
                    font-size: 1.8rem !important;
                }
}