.Navbar {
    div {
        z-index: 10;
        height: max-content !important;
    }
}

#neubar {
    background: transparent;
    padding: 0;

    .navbar-brand {
        color: var(--title-color);
    }

    .nav-item {
        margin: auto 4px;
        a {
            padding-left: 12px;
            padding-right: 12px;
            color: var(--title-color);

            &:hover {
                color: var(--first-color);
            }

            .btn-outline-info {
                color: var(--title-color);
            }
        }
    }
}