.login-hero {
    background-color: #E7E7E7;

    .hero-container {
        background-image: url(../../assets/images/original.webp);
        background-color: #E7E7E7;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        max-width: 100vw;
        min-height: 100vh;

        .hero-content {
            padding: 12rem 4rem 4rem 2rem;

            .hero-content--lines {

                // padding: 0rem 10rem 0rem 0rem;
                .hero-heading {
                    font-size: 3.6rem;
                    font-weight: 400;
                    color: rgb(41, 47, 72);
                    margin-bottom: 1rem;
                    line-height: 1.4;
                }
            }

            .hero-numbers {
                font-weight: 900;
                color: var(--first-color);
            }
        }
    }

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2rem;

        .search-bar {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 1rem;
            width: 100%;

            input {
                border: 1px solid #ccc;
                font-size: 24px;
                height: 60px;
                padding: 12px 24px;
                border-radius: 30px;
                box-sizing: border-box;
                transition: all 0.6s ease-in-out 0.3s;
                width: 50vw;
                min-width: 300px;
            }

            button {
                transition: all 0.6s ease-in-out;

                &.btn-search {
                    font-size: 24px;
                    height: 60px;
                    width: 9rem;
                    border-radius: 65px;
                    background: var(--first-color);
                    transition-delay: 0.3s;
                }
            }

            &.content {
                input {
                    &:focus {
                        width: 65vw;

                        ~button {
                            transform: rotateZ(360deg);
                        }
                    }
                }
            }
        }
    }

    .details-section {
        border: 1px solid rgba(60, 89, 97, 0.406);
        border-radius: 20px;
        background-color: azure;
        box-shadow: 0 6px 24px hsla(244, 75%, 48%, 0.5);

        .image-container {
            .property-image {
                width: 100%;
            }
        }

        .basic-details {
            .details-list {
                width: 100%;
                height: auto;
                display: flex;
                list-style-type: none;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;

                li {
                    width: 33.33333%;
                    height: auto;
                    padding-bottom: 28px;
                    padding-right: 42px;
                }
            }
        }
    }
}

@media (max-width: 990px) {
    .login-hero .hero-container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .basic-details {
        margin-top: 3rem;
    }
}

@media (min-width: 560px) {
    .basic-details {
        .details-list {
            li {
                width: 48%;
            }
        }
    }
}