.testimonial{
    #testimonial-background{
        background-image: url('../../assets/images/image.png');
    }
    
    .background{
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

        .gradient-div{
            height: 5.5rem;
            background-image: linear-gradient(to bottom,black, #2C90B7);
        }
    
    .abc{
        div{
            z-index: -1;
            inset: -10px 0 0 0 !important;
            height: 30vh !important;
        }
    }
    .text-area-layer{
        div{
            height: max-content !important;
            inset: 0 0 0 0 !important;
        }

        .content-block{
            margin: 0 5%;
    
            .textblock{
                h1{
                    width: 40%;
                    color: white;
                    font-family: 'Exo 2', sans-serif;
                    font-size: 95px;
                    line-height: 1;
                    letter-spacing: -5px;
                }
                p{
                    margin:0 0 0 10px;
                    width: 30%;
                    line-height: 2;
                    color: white;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }


    .carousel-layer {
        // div {
        //     height: max-content !important;
        //     inset: 0 0 0 0 !important;
        // }

        .carousel-block{
            margin: 0 5%;
        }
    }

}

@media screen and (max-width: 1000px) {
    .testimonial {
        .text-area-layer {
                div {
                    inset: -100px 0 0 0 !important;
                }
            } 
                .carousel-layer {
                    div {
                        inset: 15px 0 0 0 !important;
                    }
                }
        .abc{
            .gradient-div {
                height: 40vh;
            }
        }        
    }
}

@media screen and (max-width: 590px) {
    .testimonial {
            .text-area-layer {
                .textblock{
                    h1{
                        font-size: 75px !important;
                    }
                }
            }
        }        
}